*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --body-color:#efefef;
    --nav-color:#46922b;
    --verde:#46922b;
    --borde-verde:1px solid #46922b;
    --gris:#626262;
    --fondo-color:#fff;
}

body{
    background-color: var(--body-color);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background: var(--nav-color);
}

.nav-pegada{
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-izq,
.nav-der{
    display: flex;
    align-items: center;
}

.nav-izq ul li{
    list-style: none;
    display: inline-block;
}

.nav-izq ul li img{
    width: 28px;
    margin: 0 15px;
    cursor: pointer;
}

.logo{
    width: 160px;
    margin-right: 45px;
    cursor: pointer;
}

.barra-busq{
    background: var(--body-color);
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.barra-busq img{
    width: 18px;
}

.barra-busq input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.nav-usuario-icon{
    margin-left: 30px;
}

.nav-usuario-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.enlinea,
.offline{ 
  position: relative;
}

.enlinea::after{
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.offline::after{
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #db4141;
    position: absolute;
    top: 0;
    right: 0;
}
/* ========== Barra de la izquierda ========== */
.contenedor{
    display: flex;
    justify-content:flex-start;
    padding: 13px 5%;
}

.barra-izq{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 70px;
}

.enlaces{
    border-bottom: var(--borde-verde);
}

.enlaces a, .enlaces-favoritos a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: var(--gris);
    width: fit-content;
}

.enlaces img{
    width: 25px;
    margin-right: 15px;
}

.enlaces a:last-child{
    color:var(--verde);
}

.enlaces-favoritos p{
    margin: 25px 0;
    color: var(--gris);
    font-weight: 600;
}

.enlaces-favoritos a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}



/* ========== Seccion Amigos ========== */

.principal{
    /* background-color: aquamarine; */
    flex-basis: 80%;
}


/* GRID */

.row{
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto;
    grid-gap: 1rem;
}



.container{
    background: #000000;
}
 
.our-team{
    padding: 20px 15px 30px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}

.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: inline-grid;
    font-size: 17px;
    color: #02a6e5;
    text-transform: capitalize;
    margin-bottom: 7px;
    border-radius: inherit;
    background: gainsboro;
    width: 100px;
    cursor: pointer;
}


.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #17bebb;
    border: 1px solid #17bebb;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #17bebb;
    color: #fff;
}


